<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
        <title>Survey Challenge</title>
    </meta>
    <head>
        <link rel="stylesheet" type="text/css" href="resources/styles/survey.css">
    </head>

  <body>
  
    <div id="survey-app">
        <h1>New Customer Survey</h1>
        <question-item
          v-for="item in questionArray"
          v-bind:question="item"
          v-bind:key="item.id">
        </question-item>



        <input type="button" id="current_form_previous_question_button" value="Previous" data-attribute-question-number:previousQuestionIndex>
        <input type="button" id="current_form_next_question_button" value="Next" data-attribute-question-number:nextQuestionIndex v-on:click="updateQuestion(nextQuestionIndex)">

        <!-- <input type="button" value="Start Survey" v-on:click="startSurvey"> -->
        
    </div>

    <!-- development build of vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- sample survey questions from http://docs.fluidsurveys.com/fluidsurveys/api/json.html --> 
    <script type="text/javascript" src="data/survey1.json"></script>
    <script>

        const mySurvey = data;
        const totalQuestionNumber = mySurvey.form[0].children.length;
        const mySurveyQuestions = mySurvey.form[0].children;
        const defaultQuestionIndex = '0';
        let surveyComplete = false;
        let surveryStarted = false;
        
        Vue.component('question-item', {
            props: ['question'],
            template: `<div class="questionContainer" id:question.id>
            
                    <span class="questionTitleSpan">{{ question.title.en }}</span> <span class="questionDescriptionSpan">{{ question.description.en }}</span><br><br>

                    <div v-if="question.idname=='text-response'">
                        <input type="text" size="64" placeholder:question.placeHolder>
                    </div>
                    <div v-if="question.idname=='single-choice'">
                    SINGLE FOUND 
                        <span v-for="choice in question.choices">{{ choices.label.en }}</span>
                    </div>
            </div>`
            // <h2>Survey Completion: {{ currentQuestionIndex / totalQuestionNumber * 100 }}%<br><br></h2>
            
        })

        new Vue({
            el: "#survey-app",
            data: {
                questionArray: 
                    mySurveyQuestions
                
            },
            methods: {
                startSurvey: function () {
                    let element = document.getElementById("TVU4V2XMPM");
                    element.classList.remove("hideClass");
                    surveyStarted = true;
                }
            }

            /*methods: {
                updateQuestion: function (i) {
                    let buildForm = [];
                    let currentQuestionIndex = i;
                    let currentQuestionNumber = i + 1;
                    let currentQuestion = mySurvey.form[0].children[i];
                    let currentQuestionType = mySurvey.form[0].children[i].idname;

                    // next/previous navigation logic
                    buildForm.nextQuestionIndex = i + 1;
                    buildForm.previousQuestionNumber = '';
                    if (buildForm.currentQuestionIndex != 0) {
                        buildForm.previousQuestionIndex = currentQuestionIndex - 1;
                    }

                    // survey status logic
                    buildForm.surveyCompletePercentage = currentQuestionIndex / totalQuestionNumber * 100;
                },
            },*/
            /*beforeMount(){
                this.updateQuestion(defaultQuestionIndex)
            }*/

        });

    </script>

  </body>
</html>